.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1600px;
}

.section-title {
	margin-bottom: 0.5em;
	color: $white;
	font-size: 4.5rem;
	font-family: 'Dancing Script', cursive;
	text-align: center;

	@include respond(tablet) {
		font-size: 6rem;
	}

	@include respond(desktop-small) {
		font-size: 8rem;
	}
}
