.girls {
	position: relative;
	background-color: $light-black;
	@include section-padding-block;

	&__boxes {
		display: flex;
		position: relative;
		flex-direction: column;

		@include respond(tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__box {
		position: relative;
		height: 750px;
		overflow: hidden;

		&:hover {
			.girls__box-img {
				transform: scale(1.05);
			}

			&::after {
				background-color: rgba($color: $black, $alpha: 0.3);
			}
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			transition: background-color 0.3s;
			background-color: rgba($color: $black, $alpha: 0.5);
			width: 100%;
			height: 100%;
			content: '';
		}

		&-texts {
			transition: all 0.3s;
			border-bottom: 2px solid $orange;
			background-color: rgba($color: $black, $alpha: 0.5);
			padding: 0.5em;
			max-height: 150px;
		}

		&-img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-bottom {
			display: flex;
			position: absolute;
			bottom: 0;
			left: 0;
			flex-direction: column;
			gap: 0.8em;
			z-index: 20;
			transition: background-color 0.3s;
			// background-color: rgba($color: $black, $alpha: 0.3);
			padding: 1em;
			width: 100%;
			color: $white;
		}

		&-top {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 20;
			padding: 2em;
			color: $white;
		}

		&-title {
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;

			@include respond(tablet) {
				font-size: 3rem;
			}
		}

		&-subtitle {
			font-size: 1.5rem;
			text-transform: uppercase;

			@include respond(tablet) {
				font-size: 2.2rem;
			}
		}

		&-text {
			font-size: 1.5rem;
			line-height: 150%;
			letter-spacing: 1px;

			@include respond(tablet) {
				font-size: 1.8rem;
			}
		}

		&-link {
			transition: background-color 0.3s, color 0.3s, border 0.3s;
			cursor: pointer;
			border: 2px solid transparent;
			background-color: $orange-red;
			padding: 0.2em;
			color: $black;
			font-weight: 700;
			font-family: 'Roboto Slab', serif;
			letter-spacing: 1px;
			text-transform: uppercase;

			&:hover {
				border: 2px solid $orange;
				background-color: $black;
				color: $orange;
			}

			@include respond(tablet) {
				padding: 0.5em;
				font-size: 2rem;
			}
		}

		&-mobile {
			align-self: flex-start;
			transition: background-color 0.3s, color 0.3s, border 0.3s;
			border: 2px solid transparent;
			background-color: $orange-red;
			padding: 0.2em;
			color: $black;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;

			&:hover {
				border: 2px solid $orange;
				background-color: $black;
				color: $orange;
			}

			@include respond(tablet) {
				padding: 0.5em;
				font-size: 2rem;
			}
		}
	}

	#girl-1 {
		top: 19%;

		@include respond(tablet) {
			top: 50%;
		}
	}
	#girl-3 {
		top: 80%;

		@include respond(tablet) {
			top: 50%;
		}
	}

	&__modal {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		justify-content: center;
		align-items: flex-start;
		transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		z-index: 200;
		transition: opacity 0.3s ease-in-out;
		box-shadow: 0 0 10px $black;
		border: 2px solid $orange;
		background-color: $black;
		padding: 1em;
		width: 95%;

		max-height: 350px;
		overflow-y: scroll;

		@include respond(tablet) {
			max-width: 1200px;
			max-height: inherit;
			overflow-y: inherit;
		}

		&-content {
			display: flex;
			position: relative;
			flex-direction: column;
			gap: 1em;
			padding: 1em 2em;
			width: 100%;
			color: $white;
			// overflow-y: scroll;
		}

		&-title {
			font-size: 2rem;
			text-transform: uppercase;
		}

		&-text {
			line-height: 150%;
		}
	}

	&__modal.active {
		// display: flex;
		visibility: visible;
		opacity: 1;
	}

	&__close {
		transition: background-color 0.2s;
		cursor: pointer;
		border: 1px solid $orange;
		background: none;
		background-color: $orange;
		padding: 0.5em;

		&:hover {
			background-color: $black;

			i {
				color: $orange;
			}
		}

		i {
			transition: color 0.2s;
			color: $black;
			font-size: 2rem;
		}
	}

	&__overlay {
		position: relative;
		opacity: 0;
	}

	&__overlay.active {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 1;
		z-index: 200;
		transition: opacity 0.3s ease-in-out;
		background-color: rgba($color: $black, $alpha: 0.5);
		width: 100vw;
		height: 100vh;
		content: '';
	}
}
