.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	backdrop-filter: blur(5px);
	background-color: $black;
	padding-inline: 1em;
	width: 100%;

	&__logo {
		&-img {
			padding: 0.8em;
			width: 100%;
			max-width: 130px;
		}
	}

	&__overlay {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		// transform: translateX(100%);
		opacity: 0;
		transition: transform 0.3s ease-in-out, opacity 0.3s, background-color 0.3s;
		background-color: transparent;
		width: 100vw;
		height: 100vh;

		@include respond(tablet) {
			display: none;
		}
	}

	&__overlay.active {
		// transform: translateX(0);
		opacity: 1;
		background-color: rgba($color: #000000, $alpha: 0.6);
	}

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {
		z-index: 9999;
		transition: background-color 0.2s;
		cursor: pointer;
		margin-left: auto;
		border: none;
		background: none;
		padding: 0.5em;

		@include respond(tablet) {
			display: none;
		}

		&:hover {
			background-color: $black;
		}

		&:hover &-bars {
			background-color: $orange;

			&::after,
			&::before {
				background-color: $orange;
				width: 100%;
			}
		}

		&-box {
			position: relative;
			width: 30px;
			height: 18px;
		}

		&-bars {
			position: absolute;
			top: 0;
			right: 0;
			transition: background-color 0.3s ease, width 0.3s ease;
			background-color: $orange;
			width: 100%;
			height: 2px;

			&::after,
			&::before {
				position: absolute;
				right: 0;
				transition: background-color 0.3s ease, width 0.3s ease;
				background-color: $orange;
				height: 2px;
				content: '';
			}

			&::after {
				top: 7px;
				transition: background-color 0.3s ease, width 0.3s ease;
				background-color: $orange;
				width: 70%;
			}

			&::before {
				top: 13px;
				transition: background-color 0.2s, width 0.2s;
				background-color: $orange;
				width: 45%;
			}
		}
	}

	&__btn.active {
		background-color: $black;

		.nav__btn-bars {
			background-color: $orange;
			width: 100%;

			&::after,
			&::before {
				background-color: $orange;
				width: 100%;
			}
		}
	}

	&__menu {
		// display: flex;
		// display: none;
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		backdrop-filter: 0;
		transition: backdrop-filter 0.3s ease-in-out, transform 0.5s ease-in-out;
		border-left: 2px solid $orange-red;
		background-color: rgba($color: $orange, $alpha: 0.05);
		width: 70vw;
		height: 100vh;

		@include respond(tablet) {
			position: initial;
			flex-direction: row;
			transform: translateX(0);
			border: none;
			background-color: initial;
			width: initial;
			height: initial;
		}

		li {
			a {
				display: block;
				position: relative;
				transform-origin: right;
				z-index: 5;
				transition: color 0.3s;
				border-bottom: 1px solid transparent;
				padding: 1em;
				color: $white;
				font-weight: 700;
				font-size: 1.8rem;
				text-transform: uppercase;

				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: 0;
					z-index: -10;
					transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
					background-color: $orange-red;
					width: 0;
					height: 1px;
					content: '';
				}

				&:hover {
					color: $orange;

					&::after {
						opacity: 1;
						width: 100%;
					}
				}
			}
		}
	}

	&__menu.active {
		// display: flex;
		transform: translateX(0);
		backdrop-filter: blur(5px);
	}
}
