.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1600px;
}

.section-title {
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 4.5rem;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .section-title {
    font-size: 8rem;
  }
}

.main {
  transition: filter 0.3s ease-in-out;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #141414;
  padding-inline: 1em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .nav {
    box-shadow: 0px 5px 72px 17px #000;
    border-bottom: 2px solid #ff8c00;
  }
}
.nav__logo-img {
  padding: 0.8em;
  width: 100%;
  max-width: 130px;
}
.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s, background-color 0.3s;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}
@media only screen and (min-width: 768px) {
  .nav__overlay {
    display: none;
  }
}
.nav__overlay.active {
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) {
  .nav__overlay.active {
    display: none;
  }
}
.nav__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  z-index: 9999;
  transition: background-color 0.2s;
  cursor: pointer;
  margin-left: auto;
  border: none;
  background: none;
  padding: 0.5em;
}
@media only screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}
.nav__btn:hover {
  background-color: #141414;
}
.nav__btn:hover .nav__btn-bars {
  background-color: #ffa500;
}
.nav__btn:hover .nav__btn-bars::after, .nav__btn:hover .nav__btn-bars::before {
  background-color: #ffa500;
  width: 100%;
}
.nav__btn-box {
  position: relative;
  width: 30px;
  height: 18px;
}
.nav__btn-bars {
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.3s ease, width 0.3s ease;
  background-color: #ffa500;
  width: 100%;
  height: 2px;
}
.nav__btn-bars::after, .nav__btn-bars::before {
  position: absolute;
  right: 0;
  transition: background-color 0.3s ease, width 0.3s ease;
  background-color: #ffa500;
  height: 2px;
  content: "";
}
.nav__btn-bars::after {
  top: 7px;
  transition: background-color 0.3s ease, width 0.3s ease;
  background-color: #ffa500;
  width: 70%;
}
.nav__btn-bars::before {
  top: 13px;
  transition: background-color 0.2s, width 0.2s;
  background-color: #ffa500;
  width: 45%;
}
.nav__btn.active .nav__btn-bars {
  background-color: #ffa500;
  width: 100%;
}
.nav__btn.active .nav__btn-bars::after, .nav__btn.active .nav__btn-bars::before {
  background-color: #ffa500;
  width: 100%;
}
.nav__menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: backdrop-filter 0.3s ease-in-out, transform 0.5s ease-in-out;
  border-left: 2px solid #ff8c00;
  background-color: rgba(20, 20, 20, 0.9);
  width: 80vw;
  height: 100vh;
}
@media only screen and (min-width: 768px) {
  .nav__menu {
    position: initial;
    flex-direction: row;
    transform: translateX(0);
    border: none;
    background-color: initial;
    width: initial;
    height: initial;
  }
}
.nav__menu li a {
  display: block;
  position: relative;
  transform-origin: right;
  z-index: 5;
  transition: color 0.3s;
  border-bottom: 1px solid transparent;
  padding: 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.nav__menu li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  background-color: #ff8c00;
  width: 0;
  height: 1px;
  content: "";
}
.nav__menu li a:hover {
  color: #ffa500;
}
.nav__menu li a:hover::after {
  opacity: 1;
  width: 100%;
}
.nav__menu.active {
  transform: translateX(0);
}

.header {
  position: relative;
  margin-top: 135px;
  width: 100%;
  height: 80vh;
}
.header__swiper {
  height: 100% !important;
}
.header__texts {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 15;
  text-align: center;
}
.header__title {
  display: block;
  margin-bottom: 0.1em;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
@media only screen and (min-width: 360px) {
  .header__title {
    white-space: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header__title {
    font-size: 5.3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .header__title {
    font-size: 7rem;
  }
}
.header__subtitle {
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header__subtitle {
    font-size: 5rem;
  }
}
.header__link {
  transition: background-color 0.3s, color 0.3s;
  margin-block: 1em;
  border: 2px solid #ffa500;
  background-color: #141414;
  padding: 1em 4em;
  color: #ffa500;
  font-weight: 700;
  text-transform: uppercase;
}
.header__link:hover {
  background-color: #ffa500;
  color: #141414;
}
@media only screen and (min-width: 1024px) {
  .header__link {
    font-size: 1.8rem;
  }
}
.header__boxes::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}
.header__slide {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .header__slide-mobile {
    display: none;
  }
}
.header__slide-desktop {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__slide-desktop {
    display: block;
  }
}
.header__pagination .swiper-pagination-bullet {
  border-radius: 0;
  background-color: orange;
}
.header__pagination .swiper-pagination-bullet-active {
  background-color: orange;
}

.about {
  background-color: #191919;
  padding: 2em 1em;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 3em 1em;
  }
}
.about__boxes {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .about__boxes {
    flex-direction: row;
  }
}
.about__box-img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about__box-img {
    width: 35%;
  }
}
.about__box-info {
  display: flex;
  position: relative;
  right: 0;
  flex-direction: column;
  order: -1;
  gap: 0.3em;
}
@media only screen and (min-width: 768px) {
  .about__box-info {
    align-self: center;
    order: 1;
    width: 65%;
  }
}
.about__img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .about__img {
    height: 700px;
  }
}
.about__title, .about__subtitle {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about__title {
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  .about__title {
    font-size: 2.5rem;
  }
}
.about__subtitle {
  font-size: 2.3rem;
}
@media only screen and (min-width: 1024px) {
  .about__subtitle {
    font-size: 3rem;
  }
}
.about__texts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about__text {
  color: #fff;
  font-size: 1.5rem;
  line-height: 150%;
}
@media only screen and (min-width: 1024px) {
  .about__text {
    font-size: 1.8rem;
  }
}

.pricing {
  padding-block: 1em;
}
@media only screen and (min-width: 768px) {
  .pricing {
    padding-block: 3em;
  }
}
.pricing__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .pricing__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.pricing__card {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .pricing__card {
    height: 400px;
  }
}
.pricing__card::after {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}
.pricing__card:hover .pricing__card-img {
  transform: scale(1.1) rotate(1deg);
}
.pricing__card:hover::after {
  background-color: rgba(20, 20, 20, 0.3);
}
.pricing__card:nth-child(2) {
  border-block: 2px solid #ffa500;
}
@media only screen and (min-width: 768px) {
  .pricing__card:nth-child(2) {
    border-inline: 2px solid #ffa500;
    border-block: none;
  }
}
.pricing__card-img {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pricing__card-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  z-index: 10;
  padding: 1em;
  width: 100%;
  color: #fff;
}
.pricing__card-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}
.pricing__card-bottom {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.pricing__card-subtitle {
  background-color: #ff8c00;
  padding: 0.2em;
  color: #141414;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .pricing__card-subtitle {
    font-size: 2rem;
  }
}
.pricing__card-title {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .pricing__card-title {
    font-size: 3rem;
  }
}
.pricing__card-span {
  color: #ff8c00;
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .pricing__card-span {
    font-size: 2.5rem;
  }
}
.pricing__card-price {
  font-size: 2.3rem;
}
.pricing__card-time {
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .pricing__card-time {
    font-size: 1.8rem;
  }
}

.gallery {
  padding-block: 1em;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding-block: 3em;
  }
}
.gallery__boxes {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
@media only screen and (min-width: 1024px) {
  .gallery__boxes {
    flex-direction: row;
    max-height: 950px;
  }
}
.gallery .main-gallery {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .gallery .main-gallery {
    width: 60%;
  }
}
.gallery .thumbs-gallery {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .gallery .thumbs-gallery {
    display: inherit;
    padding: 1em;
    width: 35%;
  }
}
.gallery__main {
  width: 100%;
  height: 100%;
}
.gallery__main-slide {
  height: auto;
}
.gallery__main-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .gallery__main-img {
    display: inherit;
  }
}
.gallery__main-mobile {
  display: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .gallery__main-mobile {
    display: none;
  }
}
.gallery__thumbs-slide {
  filter: grayscale(1);
  transition: all 0.2s ease-in;
  padding: 1em 0 1em;
  height: auto;
}
.gallery__thumbs-img {
  border: 2px solid #ffa500;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .swiper-slide-thumb-active {
  transform: scale(1.05);
  filter: grayscale(0);
}
.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  display: none;
}
@media only screen and (min-width: 768px) {
  .gallery .swiper-button-next,
  .gallery .swiper-button-prev {
    display: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background: rgba(20, 20, 20, 0.5);
    padding: 1.5em;
    width: 30px;
    height: 30px;
  }
  .gallery .swiper-button-next:hover,
  .gallery .swiper-button-prev:hover {
    background-color: #141414;
  }
  .gallery .swiper-button-next::after,
  .gallery .swiper-button-prev::after {
    font-size: 2.5rem;
  }
}

.girls {
  position: relative;
  background-color: #191919;
  padding-block: 1em;
}
@media only screen and (min-width: 768px) {
  .girls {
    padding-block: 3em;
  }
}
.girls__boxes {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .girls__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.girls__box {
  position: relative;
  height: 750px;
  overflow: hidden;
}
.girls__box:hover .girls__box-img {
  transform: scale(1.05);
}
.girls__box:hover::after {
  background-color: rgba(20, 20, 20, 0.3);
}
.girls__box::after {
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}
.girls__box-texts {
  transition: all 0.3s;
  border-bottom: 2px solid #ffa500;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 0.5em;
  max-height: 150px;
}
.girls__box-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .girls__box-img {
    display: none;
  }
}
.girls__box-desktopimg {
  display: none;
}
@media only screen and (min-width: 768px) {
  .girls__box-desktopimg {
    display: inherit;
  }
}
.girls__box-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  gap: 0.8em;
  z-index: 20;
  transition: background-color 0.3s;
  padding: 1em;
  width: 100%;
  color: #fff;
}
.girls__box-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 2em;
  color: #fff;
}
.girls__box-title {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .girls__box-title {
    font-size: 3rem;
  }
}
.girls__box-subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .girls__box-subtitle {
    font-size: 2.2rem;
  }
}
.girls__box-text {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .girls__box-text {
    font-size: 1.8rem;
  }
}
.girls__box-link {
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #ff8c00;
  padding: 0.2em;
  color: #141414;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.girls__box-link:hover {
  border: 2px solid #ffa500;
  background-color: #141414;
  color: #ffa500;
}
@media only screen and (min-width: 768px) {
  .girls__box-link {
    padding: 0.5em;
    font-size: 2rem;
  }
}
.girls__box-mobile {
  align-self: flex-start;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 2px solid transparent;
  background-color: #ff8c00;
  padding: 0.2em;
  color: #141414;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.girls__box-mobile:hover {
  border: 2px solid #ffa500;
  background-color: #141414;
  color: #ffa500;
}
@media only screen and (min-width: 768px) {
  .girls__box-mobile {
    padding: 0.5em;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .girls__box-mobile {
    display: none;
  }
}
.girls__box-desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .girls__box-desktop {
    display: inherit;
  }
}
.girls #girl-1 {
  top: 19%;
}
@media only screen and (min-width: 768px) {
  .girls #girl-1 {
    top: 50%;
  }
}
.girls #girl-3 {
  top: 80%;
}
@media only screen and (min-width: 768px) {
  .girls #girl-3 {
    top: 50%;
  }
}
.girls__modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: flex-start;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 0 10px #141414;
  border: 2px solid #ffa500;
  background-color: #141414;
  padding: 1em;
  width: 95%;
  max-height: 350px;
  overflow-y: scroll;
}
@media only screen and (min-width: 768px) {
  .girls__modal {
    max-width: 1200px;
    max-height: inherit;
    overflow-y: inherit;
  }
}
.girls__modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1em;
  padding: 1em 2em;
  width: 100%;
  color: #fff;
}
.girls__modal-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.girls__modal-text {
  line-height: 150%;
}
.girls__modal.active {
  visibility: visible;
  opacity: 1;
}
.girls__close {
  transition: background-color 0.2s;
  cursor: pointer;
  border: 1px solid #ffa500;
  background: none;
  background-color: #ffa500;
  padding: 0.5em;
}
.girls__close:hover {
  background-color: #141414;
}
.girls__close:hover i {
  color: #ffa500;
}
.girls__close i {
  transition: color 0.2s;
  color: #141414;
  font-size: 2rem;
}
.girls__overlay {
  position: relative;
  opacity: 0;
}
.girls__overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 200;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100vw;
  height: 100vh;
  content: "";
}

.footer {
  background-color: #191919;
  padding-block: 1em;
  padding-bottom: 0 !important;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-block: 3em;
  }
}
.footer__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.footer__box-text {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
.footer__box-link {
  border-bottom: 1px solid #fff;
}
.footer__box-link:hover {
  border-bottom: 1px solid #ffa500;
}
.footer__box-title {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
@media only screen and (min-width: 768px) {
  .footer__box-title {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__box-title {
    font-size: 6rem;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.footer__bottom {
  background-color: #ffa500;
  padding: 0.5em;
}
.footer__bottom-text {
  color: #141414;
  text-align: center;
}
.footer__bottom-link {
  display: inline-block;
  position: relative;
  z-index: 15;
  transition: color 0.3s;
  padding: 0.15em;
  color: #141414;
}
.footer__bottom-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  transition: height 0.3s;
  background-color: #141414;
  width: 100%;
  height: 1px;
  content: "";
}
.footer__bottom-link:hover {
  color: #fff;
}
.footer__bottom-link:hover::after {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

::selection {
  background-color: #ff8c00;
  color: #141414;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 137px;
  font-size: 62.5%;
}

body {
  background-color: #141414;
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
}